.signup-main {
  position: absolute;
  width: 100%;
  padding: 50px;
}

.signup-main h1 {
  text-align: center;
  color: white;
}

.signup-main div {
  background-color: lightgrey;
  width: 40%;
  margin: auto;
  padding: 1em;
  border-radius: 25px;
}
