/* Slideshow container */
.slideshow-container {
    max-width: 1800px;
    position: relative;
    top: 60px;
    margin: auto;
}

/* Hide the images by default */
.mySlides {
    display: none;
}

/* Fading animation */
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

.image-scaling {
    width: 250px;
    height: 350px;
    margin: 19px auto 0;
}
  
* {
    box-sizing:border-box
}

.text-block {
    position: absolute;
    top: 40px;
    left: 20px;
    background-color: #1b2530;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
    max-width: 600px;
    border-radius: 10px;
}