/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active,
.dot:hover {
  background-color: #717171;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

.container {
  position: relative;
  width: 100%;
  top: 70px;
}

.right-container {
  position: relative;
  width: 50%;
}

.image {
  opacity: 1;
  display: block;
  transition: 0.3s ease;
  backface-visibility: hidden;
  width: 100%;
  height: 450px;
}

.middle {
  transition: 0.5s ease;
  opacity: 0;
  position: relative;
  top: -300%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.top {
  transition: 0.5s ease;
  opacity: 0;
  position: relative;
  top: -950%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.container:hover .image {
  opacity: 0.3;
}

.container:hover .middle {
  opacity: 1;
}

.container:hover .top {
  opacity: 1;
}

.right-container:hover .image {
  opacity: 0.3;
}

.right-container:hover .middle {
  opacity: 1;
}

.right-container:hover .top {
  opacity: 1;
}

.text {
  color: white;
  font-size: 16px;
  padding: 16px 32px;
}

.text-title {
  color: white;
  font-size: 28px;
  padding: 16px 32px;
  font-weight: bold;
}

.grid-container {
  padding: 8px 16px;
  max-width: 1800px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, 5vw);
  row-gap: 400px;
  column-gap: 20px;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .container {
    flex: 50%;
    max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .container {
    flex: 50%;
    max-width: 500%;
  }
}

.MoreInfoButton {
  background-color: #0f79af;
  border: 0px;
  border-radius: 8px;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-family: Phantomsans, sans-serif;
  font-size: 13px;
  line-height: 29px;
  padding: 0 10px 0 11px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  width: 100px;
  height: 50px;
}

.MoreInfoButton:hover {
  background-color: #5ca8ce;
  outline: 0;
}

.MoreInfoButton:focus {
  border-color: #008296;
  box-shadow: rgba(213, 217, 217, 0.5) 0 2px 5px 0;
  outline: 0;
}

.AddToBasketButton {
  background-color: #0f79af;
  border: 0px;
  border-radius: 8px;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-family: Phantomsans, sans-serif;
  font-size: 15px;
  line-height: 29px;
  padding: 0 10px 0 11px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  width: 120px;
  height: 50px;
}

.AddToBasketButton:hover {
  background-color: #5ca8ce;
  outline: 0;
}

.AddToBasketButton:focus {
  border-color: #008296;
  box-shadow: rgba(213, 217, 217, 0.5) 0 2px 5px 0;
  outline: 0;
}

.fix {
  top: -1000%;
}
